/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.login {
	
	background: #fff;

	form {
		background: darken(#fff, 3%);
	}

	h1 {
		a {
			width: 100%;
			background: url('../img/logo-small.jpg') no-repeat center center;
			background-size: 100% auto;
		}
	}	
	
	.button-primary {
		background: darken( red, 5% );
		border-color: darken( red, 10% );
		&:hover, &:focus {
			background: darken( red, 10% );
			border-color: darken( red, 15% );
		}
	}

}