$base-color: #738e96;
$icon-color: #f2fcff;
$highlight-color: #9ebaa0;
$notification-color: #aa9d88;

$adminbar-background: darken(#738e96, 20%);
$adminbar-text: #fff;
$adminbar-icon: #fff;

$form-checked: $base-color;

$adminmenu-width: 250px;
$adminmenu-width-folded: 60px;

@import "../common/_admin.scss";

#adminmenu {
  a.menu-top, .wp-submenu-head {
    font-size: 16px;
  }
  div.wp-menu-name {
    padding: 10px 20px;
  }
  div.wp-menu-image {
    height: 38px;
    float: right;
    margin-right: 10px;
  }
  .wp-submenu {
    a {
      font-size: 16px;
      font-weight: 300;
    }
  }
  #collapse-menu {
    margin-top: 24px;
    #collapse-button {
      font-size: 16px;
    }
  }
}


#adminmenu .wp-has-current-submenu .wp-submenu,
.no-js li.wp-has-current-submenu:hover .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu {
  margin-bottom: 15px;
}

#adminmenu a.anunapress-logo div.wp-menu-name {
    display: none;
}

#adminmenu .wp-submenu .wp-submenu-head {
  font-size: 18px;
  padding: 20px;
}

// Adjust admin menu width
#adminmenuback,
#adminmenuwrap,
#adminmenu,
#adminmenu .wp-submenu {
  width: $adminmenu-width;
}

#wpcontent,
#wpfooter {
  margin-left: $adminmenu-width;
}

#wpadminbar {
  left: $adminmenu-width;
}

#adminmenu .wp-submenu {
  left: $adminmenu-width;
}

#adminmenu .wp-not-current-submenu .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu {
  min-width: ($adminmenu-width/3)*2;
}

#adminmenu .wp-has-current-submenu ul > li > a, .folded #adminmenu li.menu-top .wp-submenu > li > a {
  padding: 10px 20px;
}

.folded #adminmenuback, .folded #adminmenuwrap, .folded #adminmenu, .folded #adminmenu li.menu-top {
  width: $adminmenu-width-folded;
}

.folded #adminmenu div.wp-menu-image {
  width: $adminmenu-width-folded;
  height: $adminmenu-width-folded;
  margin-right: 0;
  &:before {
    font-size: $adminmenu-width-folded/2;
    width: $adminmenu-width-folded;
    height: $adminmenu-width-folded;
    line-height: 1.6;
  }
}

.folded #adminmenu a.menu-top {
  height: $adminmenu-width-folded;
}

.folded #adminmenu .wp-submenu.sub-open, .folded #adminmenu .opensub .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu.sub-open, .folded #adminmenu .wp-has-current-submenu.opensub .wp-submenu, .folded #adminmenu a.menu-top:focus + .wp-submenu, .folded #adminmenu .wp-has-current-submenu a.menu-top:focus + .wp-submenu, .no-js.folded #adminmenu .wp-has-submenu:hover .wp-submenu {
  left: $adminmenu-width-folded;
}

// Custom logo
#adminmenu a.anunapress-logo{
    display: block;
    background: no-repeat center center;
    background-size: 140px auto;
    width: 140px;
    opacity: 0.6;
    height: 40px;
    margin: 0 auto;
    margin-top: -20px;
    margin-bottom: 20px;
    padding: 10px 5px;
    transition: opacity .5s ease;
    &:hover {
      opacity: 1;
    }
    .folded & {
      display: none;
    }
}

// Post boxes
.postbox .inside, .stuffbox .inside {
  font-size: 15px;
  font-weight: 300;
}

#poststuff h3.hndle, #poststuff .stuffbox > h3, #poststuff h2, .metabox-holder .stuffbox > h3, .metabox-holder .postbox > h3, .metabox-holder h3.hndle, .metabox-holder h2.hndle {
  font-size: 16px;
}

.row-title {
  font-size: 16px!important;
  font-weight: 500;
}

.widefat th, .widefat thead td, .widefat tfoot td {
  font-size: 16px;
}

.subsubsub {
  font-size: 16px;
}

.wrap .add-new-h2, .wrap .add-new-h2:active, .wrap .page-title-action, .wrap .page-title-action:active {
  font-size: 16px;
  font-weight: 400;
}

.wp-core-ui .button, .wp-core-ui .button-primary, .wp-core-ui .button-secondary {
  font-size: 16px;
  font-weight: 400;
  height: 35px;
  line-height: 33px;
}

.wp-core-ui .button.button-large, .wp-core-ui .button-group.button-large .button {
  line-height: 38px;
  height: 40px;
}

#screen-options-link-wrap, #contextual-help-link-wrap {
  height: 35px;
}

p {
  font-size: 15px;
}

body {
  font-size: 15px;
}
