// assign default value to all undefined variables


// core variables

$text-color: #fff;
$base-color: #23282d;
$icon-color: #f2fcff;
$highlight-color: #fff;
$notification-color: #df2621;


// global

$font-family: 'Lato';

$body-background: #f1f1f1 !default;

$link: #0073aa !default;
$link-focus: lighten( $link, 10% ) !default;

$button-color: #0073aa !default;
$form-checked: #0073aa !default;


// admin menu

$menu-text: $text-color !default;
$menu-icon: $icon-color !default;
$menu-background: $base-color !default;

$menu-highlight-text: $text-color !default;
$menu-highlight-icon: $text-color !default;
$menu-highlight-background: darken( $base-color, 7% ) !default;

$menu-current-text: $menu-highlight-text !default;
$menu-current-icon: $menu-highlight-icon !default;
$menu-current-background: $menu-highlight-background !default;

$menu-submenu-text: mix( $base-color, $text-color, 30% ) !default;
$menu-submenu-background: $menu-background;
$menu-submenu-background-alt: desaturate( lighten( $menu-background, 7% ), 7% ) !default;

$menu-submenu-focus-text: $highlight-color !default;
$menu-submenu-current-text: $text-color !default;

$menu-bubble-text: $text-color !default;
$menu-bubble-background: $notification-color !default;
$menu-bubble-current-text: $text-color !default;
$menu-bubble-current-background: $notification-color !default;

$menu-collapse-text: $menu-icon !default;
$menu-collapse-icon: $menu-icon !default;
$menu-collapse-focus-text: $text-color !default;
$menu-collapse-focus-icon: $menu-highlight-icon !default;

$menu-avatar-frame: lighten( $menu-background, 7% ) !default;
$menu-input-background: lighten( $menu-background, 7% ) !default;

$menu-customizer-text: mix( $base-color, $text-color, 40% ) !default;

// admin-bar

$adminbar-text: $text-color !default;
$adminbar-icon: $icon-color !default;
$adminbar-background: $base-color !default;

$adminbar-highlight-text: $text-color !default;
$adminbar-highlight-icon: $text-color !default;
$adminbar-highlight-background: $highlight-color !default;

$adminbar-current-text: $adminbar-highlight-text !default;
$adminbar-current-icon: $adminbar-highlight-icon !default;
$adminbar-current-background: $adminbar-highlight-background !default;

$adminbar-submenu-focus-text: $highlight-color !default;
$adminbar-submenu-current-text: $text-color !default;

$adminbar-submenu-text: mix( $base-color, $text-color, 30% ) !default;
$adminbar-submenu-background: darken( $base-color, 7% ) !default;
$adminbar-submenu-background-alt: desaturate( lighten( $adminbar-background, 7% ), 7% ) !default;

$adminbar-bubble-text: $text-color !default;
$adminbar-bubble-background: $notification-color !default;
$adminbar-bubble-current-text: $text-color !default;
$adminbar-bubble-current-background: $adminbar-submenu-background !default;

$adminbar-collapse-text: $adminbar-icon !default;
$adminbar-collapse-icon: $adminbar-icon !default;
$adminbar-collapse-focus-text: $text-color !default;
$adminbar-collapse-focus-icon: $adminbar-highlight-icon !default;

$adminbar-avatar-frame: lighten( $adminbar-background, 7% ) !default;
$adminbar-input-background: lighten( $adminbar-background, 7% ) !default;

$adminbar-customizer-text: mix( $base-color, $text-color, 40% ) !default;
